---
---

@import 'main';

/* append your custom style below */

/*
#search-results a, #search-hints .post-tag, a {
    color: #025955;
}
*/

body {
  font-family: 'Ubuntu', 'Source Sans Pro', 'Microsoft Yahei', sans-serif;
}

.content p, ul, ol, li {
    font-size: 1rem;
    // font-weight: 300;
    line-height: 1.5;
    margin-top: 1rem;
    // overflow-wrap: break-word;
    // word-wrap: break-word;
}


//  #access-lastmod {
//  li {
//     height: 3rem;
//   }
// } 
h1 {
  font-size: 1.4rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.14rem;
}
h5 {
  font-size: 1.1rem;
}


// main h1 {
//     font-size: 2rem;
// }

// Убрать значкм из промпт
blockquote.prompt-tip::before, .prompt-info::before, .prompt-warning::before, .prompt-danger::before {
    display: none;
}
// Выровнять текст промпт
blockquote[class^=prompt-] {
    padding: 1rem 1rem 1rem 1.1rem;
}

h5, h4, h3, h2, h1 {
    font-family: 'Ubuntu', 'Source Sans Pro', 'Microsoft Yahei', sans-serif;
    font-weight: 700;
    // color: #CC241D;
}

// .fa-github:before {
//     content: "\f167";
// }
